@{
    ViewData["Title"] = "Контакты";
}
<h1>@ViewData["Title"]</h1>

<p>Работу выполнили студенты 511 группы:</p>
<ul>
    <li >Жигалова Ариана</li>
    <li >Михайлов Виктор</li>
    <li >Устименко Эльза</li>
</ul>
